{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl font-bold mb-6">Sobre Nossa Loja</h1>
<div class="py-15">
    <p class="text-xl">Nossa loja tem produtos de qualidade e que possuem garantia de 3 semanas. Qualquer dúvida ou problema entre em contato conosco!</p>
</div>
<div class="py-5">
    <p class="font-bold">Nosso número: <a href="tel:+5511999998888"></a>+55(11)99999-8888 </p>
    <p class="font-bold">Nosso email: <a href="mailto:minhaloja@gmail.com">minhaloja@gmail.com</a></p>
</div>
{% endblock %}